@import 'src/styles/vars';


.MuiTab-wrapper {
  color: $white;
}

.PrivateTabIndicator-root-138.PrivateTabIndicator-colorSecondary-140.MuiTabs-indicator,
.PrivateTabIndicator-root-155.PrivateTabIndicator-colorSecondary-157.MuiTabs-indicator {
    background-color: $white;
}
